.header img {
    height: 50px;
    
}
.header {
    text-align:center;
    
}
.header nav{
   
   height: 20px;


}
nav a{
    
    margin-right: 20px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 10px
    
}
nav a:hover{
    color: rgb(235, 52, 6);
}


.Login{
    background-color: rgb(255, 123, 0);
    width: 100px;
height: 30px;
border-radius:10px;
border: 1px solid rgba(255, 255, 255, 0.678);
}

    


